



.container-fluid{
    height: 100%;
}

#deleteTarea img{
    width: 100px !important;
}

#delteTarea img:nth-of-type(2){
    display: none;
}

.cabecera:nth-of-type(3){
    border: 1px dashed black !important;
}

#deleteTarea:hover{
    cursor: pointer;
}

.cuerpo{
    height: 100%;
    background-color: gray;
}

.tareas{
    background-color: white;
}

.tareas h4{
    text-align: center;
    position: sticky;
    top: 0px;
    z-index: 100;
    background-color: gray;
}